#body{
    background-color: #1e1e1e;
}

#container{
    display: grid;
    width: 98%;
    height: 98%;
    gap: 12px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, minmax(200px, auto));
    grid-template-areas: 
    "nav header header header header header header header header header"
    "nav main main main main main main main main main"
    "nav footer footer footer footer footer footer footer footer footer"
    ;
}

#header{
    grid-area: header;
}

#navigation{
    grid-area: nav;
}

#main{
    grid-area: main;
}

#footer{
    grid-area: footer;
}