#body {
    background-color: #1e1e1e;
}

#container {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 30px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, minmax(50px, auto));
    grid-template-areas: 
    "header header header header header header header header header header" 
    "main main main main main main main main main main"
    "section section section section section section section section section section" 
}

#header {
    grid-area: header;
    background-image: linear-gradient(to bottom, #161515, #424242);
    border: 1px solid#3fffb2;
    box-shadow: 10px 15px 10px #000000;
}

header {
    display: grid;
    grid-template-columns: .5fr 2fr 1fr;
    grid-template-rows: minmax(20px, auto);
    padding: 0px;
}

#header-img {
    grid-column: 1/2;
    margin-top: 25%;
    margin-left: 10px;
}

h1{
    color: silver;
}

#header-title {
    grid-column: 2/3;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 3px 3px 7px #23ffc8;
}

#header-buttons {
    grid-column: 3/4;
    margin-top: 25%;
    margin-left: 25%;
}

.header-button {
    margin: 3px;
}

#navigation {
    grid-area: nav;
    background-image: linear-gradient(to bottom, #161515, #424242);
    border: 1px solid#3fffb2;
    box-shadow: 10px 15px 10px #000000;
    width: 100%;
    position: sticky;
    top: 0px;
    height: 98.5vh;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: silver;
    font-size: 15px;
}

li {
    margin: 25px 0px 10px 0px;
}

#main {
    grid-area: main;
    background-image: linear-gradient(to bottom, #161515, #424242);
    border: 1px solid#3fffb2;
    box-shadow: 10px 15px 10px #000000;
    color: silver;
}

main {
    line-height: 50px;
    padding: 20px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

#summary {
    margin-left: 50px;
    font-size: 20px;
    padding: 15px;
}

#section{
    grid-area: section;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.section{
    border-radius: 20px;
    padding: 25px;
    background-image: linear-gradient(to bottom, #161515, #424242);
    border: 1px solid #3fffb2;
    box-shadow: 10px 15px 10px #000000;
    color: silver;
    display: block;
    line-height: 40px;
}

.section:hover{
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #161515, #424242);
    border: 1px solid #3fffb2;
    box-shadow: 10px 15px 100px #000000;
    color: silver;
    display: block;
    line-height: 40px;
}

.symbol{
    margin-top: 10px;
    text-align: center;
    font-size: 55px;
}

h3{
    font-size: 35px;
}

#copyright{
    margin-top: 100px;
}

.footer-content{
    float: left;
    font-size: 18px;
    padding: 10px;
    margin-left: 110px;
    margin-right: 110px;
}

#footer {
    grid-area: footer;
    background-image: linear-gradient(to bottom, #161515, #424242);
    border: 1px solid#3fffb2;
    box-shadow: 10px 15px 10px #000000;
}

button {
    margin-left: 25px;
    height: 40px;
    width: 100px;
    border-radius: 7px;
    border: .5px solid #161515;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: silver;
    background-image: linear-gradient(to right, #d075ff, #8243a3);
}

button:active {
    height: 40px;
    width: 100px;
    border-radius: 7px;
    border: .5px solid #161515;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: silver;
    background-image: linear-gradient(to right, #8243a4, #4b265d);
}