.modal{
    display: none;
    width: 50%;
    height: 350px;
    border: 2px solid black;
    margin-left: 25%;
    background-image: linear-gradient(to bottom, white, #f4f4f4);
    border-radius: 15px;
    box-shadow: inset -3px -3px 10px #b3b3b3;
}

#signup-modal{
    height: 445px;
}

.modal-content{
    padding: 2px;
}

.modal-header{
    text-align: center;
    text-decoration: underline;
    padding-top: 0%;
    margin-top: 0px;
}

.form-head{
    font-size: 25px;
    font-weight: bold;
}

input{
    border-radius: 7px;
    width: 50%;
    padding: 1.2%;
    border: 1.5px solid #000000;
}

.form-group{
    margin: 25px;
}
