.modal{
    display: none;
    width: 50%;
    height: 350px;
    border: 2px solid black;
    margin-left: 25%;
    background-image: linear-gradient(to right, #fcfcfc,whitesmoke, #e3e3e3, #c4c4c4);
    border-radius: 15px;
    box-shadow: inset -3px -3px 10px #565656;
}

#signup-modal{
    margin-top: 25px;
    height: 445px;
    position: absolute;
}

#login-modal{
    margin-top: 25px;
    position: absolute;
}

.modal-content{
    padding: 2px;
}

.modal-header{
    text-align: center;
    text-decoration: underline;
    padding-top: 0%;
    margin-top: 0px;
}

.form-head{
    font-size: 25px;
    font-weight: bold;
}

input{
    border-radius: 7px;
    width: 50%;
    padding: 1.2%;
    border: 1.5px solid #000000;
}

.form-group{
    margin: 25px;
}

button.close{
    color: crimson;
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    padding: 0%;
    height: 0px;
    width: 0px;
}

button.close:active{
    color: #b20b0b;
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    padding: 0%;
    height: 0px;
    width: 0px;
}